{% extends 'base.html' %}

{% block content %}



<main>

    {% if object %}
        <h1>Edit: "{{ object.description }}"?</h1>
    {% else %}
        <h1>Create New Todos {{ object.description }}</h1>
    {% endif %}

    <form action="" method="post">
        {% csrf_token %}
        {{ form }}

        {% if object %}
            <input type="submit" value="Update Todo">
        {% else %}
            <input type="submit" value="Add Todo">
        {% endif %}
    </form>
</main>



{% endblock %}