
{% extends 'base.html' %}

{% block content %}
<main>
    <h1>You are learning about Django Todos</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis incidunt fuga et nesciunt laborum beatae iusto? Dolor, deserunt distinctio illo a voluptate possimus quod neque, reprehenderit facilis minima in dolorum.</p>

    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis incidunt fuga et nesciunt laborum beatae iusto? Dolor, deserunt distinctio illo a voluptate possimus quod neque, reprehenderit facilis minima in dolorum.</p>
    
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis incidunt fuga et nesciunt laborum beatae iusto? Dolor, deserunt distinctio illo a voluptate possimus quod neque, reprehenderit facilis minima in dolorum.</p>
</main>
{% endblock %}
     
