{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <title>{{ title }}</title>
</head>
<body>
    <header>
        <h1>Django Todos</h1>
        <nav>
            <ul>
                <li>
                    <a href="{% url 'index' %}">Home</a>
                </li>
                <li>
                    <a href="{% url 'about' %}">About</a>
                </li>
                 <li>
                    <a href="{% url 'create' %}">Create New Todo</a>
                </li>
            </ul>
        </nav>
    </header>
    {% block content %}
    {% endblock %}
    <footer>
        <p>Copyright &copy; All Rights Reserved Django Todos 2021</p>
    </footer>
</body>
</html>