{% extends 'base.html' %}

{% block content %}
<main>
    <h1>Here are your Todos</h1>
    <section>
        {% for todo in todos %}
        <article>
            <h1>{{ todo.description }} -
           {% if todo.completed %}
           <span>Complete</span>
           {% else %}
           <span>Not Complete</span>
           {% endif %}
           <a href="{% url 'update' todo.id %}">Edit</a>
           <a href="{% url 'delete' todo.id %}">Delete</a>
        </h1>
        </article>
         {% endfor %}
    </section>
</main>
{% endblock %}
     
